@charset "UTF-8";

a.calendarEventLink:link, a.calendarEventLink:visited {
    font-size: .6875rem;
    font-weight: normal;
}
.calendarBackground {
    background-color: #fff;
}
.calendarBorder {
    background-color: #ecf2f6;
    padding: .0625rem;
}
.calendarBlanc {
    background-color: #fff;
}
.calendarHeader {
    background-color: #007bff;
    color: #fff;
    padding: .125rem;
    text-align: center;
}
.calendarHeadeWeekBig {
    background: #807872;
    color: #fff;
    padding: .5rem;
}
.calendarHeaderWeek {
    background: #ecf2f6;
}
.calendarHeaderBig {
    background-color: #007bff;
    color: #fff;
    padding: .5rem;
    text-align: center;
}
.calendarInactiveDay {
    color: #ccbdb7;
    font-size: .625rem;
    font-style: italic;
    padding: .25rem;
}
.calendarToday {
    background-color: #007bff;
    color: #fff;
    padding: .0625rem;
}
.calendarTodayBig {
    background-color: #fff;
    border: .0625rem solid #007bff;
    font-size: .875rem;
    height: 6rem;
    padding: .25rem;
}
