#colorbox, #cboxOverlay, #cboxWrapper {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    webkit-transform: translate3d(0,0,0);
    z-index: 9999;
}
#cboxWrapper {
    max-width: none;
}
#cboxOverlay {
    height: 100%;
    position: fixed;
    width: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxContent {
    position: relative;
}
#cboxLoadedContent {
    overflow: auto;
    webkit-overflow-scrolling: touch;
}
#cboxTitle {
    margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}
.cboxPhoto {
    border: 0;
    display: block;
    float: left;
    margin: auto;
    max-width: none;
    ms-interpolation-mode: bicubic;
}
.cboxIframe {
    border: 0;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
    moz-box-sizing: content-box;
    webkit-box-sizing: content-box;
}
#cboxOverlay {
    background: #000;
    filter: alpha(opacity = 90);
    opacity: 0.9;
}
#colorbox {
    outline: 0;
}
#cboxTopLeft {
    background: url(../../images/colorbox/controls.png) no-repeat 0 0;
    height: 14px;
    width: 14px;
}
#cboxTopCenter {
    background: url(../../images/colorbox/border.png) repeat-x top left;
    height: 14px;
}
#cboxTopRight {
    background: url(../../images/colorbox/controls.png) no-repeat -36px 0;
    height: 14px;
    width: 14px;
}
#cboxBottomLeft {
    background: url(../../images/colorbox/controls.png) no-repeat 0 -32px;
    height: 43px;
    width: 14px;
}
#cboxBottomCenter {
    background: url(../../images/colorbox/border.png) repeat-x bottom left;
    height: 43px;
}
#cboxBottomRight {
    background: url(../../images/colorbox/controls.png) no-repeat -36px -32px;
    height: 43px;
    width: 14px;
}
#cboxMiddleLeft {
    background: url(../../images/colorbox/controls.png) repeat-y -175px 0;
    width: 14px;
}
#cboxMiddleRight {
    background: url(../../images/colorbox/controls.png) repeat-y -211px 0;
    width: 14px;
}
#cboxContent {
    background: #fff;
    overflow: visible;
}
.cboxIframe {
    background: #fff;
}
#cboxError {
    border: 1px solid #ccc;
    padding: 50px;
}
#cboxLoadedContent {
    margin-bottom: 5px;
}
#cboxLoadingOverlay {
    background: url(../../images/colorbox/loading_background.png) no-repeat center center;
}
#cboxLoadingGraphic {
    background: url(../../images/colorbox/loading.gif) no-repeat center center;
}
#cboxTitle {
    bottom: -30px;
    color: #7C7C7C;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
#cboxCurrent {
    bottom: -30px;
    color: #7C7C7C;
    left: 58px;
    position: absolute;
}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    background: url(../../images/colorbox/controls.png) no-repeat 0px 0px;
    border: 0;
    bottom: -29px;
    height: 23px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    width: 23px;
}
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
    outline: 0;
}
#cboxPrevious {
    background-position: -51px -25px;
    left: 0px;
}
#cboxPrevious:hover {
    background-position: -51px 0px;
}
#cboxNext {
    background-position: -75px -25px;
    left: 27px;
}
#cboxNext:hover {
    background-position: -75px 0px;
}
#cboxClose {
    background-position: -100px -25px;
    right: 0;
}
#cboxClose:hover {
    background-position: -100px 0px;
}
.cboxSlideshow_on #cboxSlideshow {
    background-position: -125px 0px;
    right: 27px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
    background-position: -150px 0px;
}
.cboxSlideshow_off #cboxSlideshow {
    background-position: -150px -25px;
    right: 27px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
    background-position: -125px 0px;
}
