@charset "UTF-8";
/*обложка*/
.slogan{font-weight:bold;text-align:center}
header .slogan h1,header .slogan h4 {color:#fff}
.slogan h1 {font-size: 3rem}
.slogan h4 {font-size:1.5rem}
.slogan .uk-heading-divider{border-bottom: 1px solid #fff!important}
@media only screen and (min-width:320px) and (max-width:600px){
.slogan h1 {font-size: 1.5rem}
.slogan h4 {font-size:.8rem}
}

/*about.tpl*/
#about{padding:6em 0;background:#fff}
#about img{border-radius:.5rem}

/*step4.tpl*/
#step4{background:#dae1e8;padding:6em 0}
.module-title,.module-subtitle{text-align:center;line-height:1.8;font-size:30px;}
.module-subtitle{font-size:18px;color:#999;}
.services-2 .service-style-4{margin:0 10px;margin-top:50px;}
.service-style-4{margin-top:50px;display:block;background:#ffffff;padding:50px 30px;position:relative;z-index:1;transition:all 0.3s ease-in-out 0s;}
.service-style-4 h4{color:#555555;font-weight:400;}
.service-style-4 p{color:#666666;font-size:14px;line-height:28px;margin-bottom:0;}
.service-style-4:hover{box-shadow:0 0 30px rgba(206,206,206,0.6);}
.service-count{position:absolute;right:0;top:50%;transform:translate(-50%,-50%);font-size:80px;color:rgba(0,0,0,0.1);font-weight:700;z-index:-1;}

/*stats.tpl*/
#stats{padding:6em 0}
.stats-info{text-align:center;}
.stats-info p{color:#fff;font-size:40px;margin:0 0 20px;font-family:Montserrat;}
.stats-info h2{color:#fff;font-size:12px;font-family:'Droid Sans',sans-serif;text-transform:uppercase;letter-spacing:3px;font-weight:700;}
.stats-info i{color:#fff;font-size:40px;margin:0 auto 25px;display:table;}
@media only screen and (min-width:280px)  and (max-width:767px){
    .stats-info h2{margin-bottom:40px;}
    #stats{padding:120px 0 80px;}
}

/*contact-info.tpl*/
#contact-info{padding:6em 0}

/*why.tpl*/
#why{padding:6em 0;background: #fafbfc}
#service h2, #why h2,#about h2{position:relative;margin-top:10px;margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid rgba(0,0,0,0.09);}
#service h2::after, #why h2::after,#about h2::after{position:absolute;content:"";background-color:#fdc42d;height:3px;width:50px;bottom:-1px;left:0;}
#why.service-desc{margin:10px 10px 20px;}
#why h3{font-weight:700;padding:5px 0;}
@media only screen and (min-width:280px)  and (max-width:767px){
    #why{padding:3em 0}
}

/*map-yandex.tpl*/
#map{z-index:4}