#subscribe-big {
  width:300px;
  height:250px;
  margin:0 auto;
  background:#fff;
  position:relative;
  border-radius:4px;
}
#subscribe-small {
  width:100%;
  height:250px;
  margin:0 auto;
  background:#fff;
  position:relative;
  border-radius:4px;
}
#newsletter:before {
  display:block;
  content:"";
  height:5px;
  width:100%;
  top:-20px;
  right:-20px;
  left:-20px;
  border-top-right-radius:4px;
  border-top-left-radius:4px;
  background: repeating-linear-gradient(-225deg, #4782ce, #4782ce 12px, #fff 12px, #fff 24px, #ea222e 24px, #ea222e 36px, #fff 36px, #fff 48px);
}
#subscribe-small .seal,#subscribe-big .seal {
  position:absolute;
  top:-1px;
  right:0;
}
#subscribe-small .seal:before,
#subscribe-small .seal:after,
#subscribe-big .seal:before,
#subscribe-big .seal:after {
  display:block;
  content:"";
  border:1px solid #dcdcdc;
  border-radius:50%;
  position:absolute;
}
#subscribe-small .seal:before, #subscribe-big .seal:before{
  width:50px;
  height:50px;
  top:8px;
  right:8px;
}
#subscribe-small .seal:after,#subscribe-big .seal:after {
  width:60px;
  height:60px;
  top:3px;
  right:3px;
}
#subscribe-small .seal i,#subscribe-big .seal i {
  position:absolute;
  font-size:24px;
  color:#afafaf;
  top:13px;
  right:13px;
  transform: rotate(12deg);
}
#subscribe-small form,#subscribe-big form {
  padding:24px 20px 20px;
}

#subscribe .uk-divider-icon{
background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M502 191c4-3 10 0 10 5v204c0 27-21 48-48 48H48c-26 0-48-21-48-48V196c0-5 6-8 10-5l154 114c21 15 56 47 92 47s72-33 92-47l154-114zM256 320c23 0 57-29 73-41 133-97 143-105 174-129 6-5 9-12 9-19v-19c0-26-22-48-48-48H48C22 64 0 86 0 112v19c0 7 3 14 9 19 31 24 41 32 174 129 16 12 50 41 73 41z"/></svg>');
}