@charset "UTF-8";

.shop{background:#EDEEF0}
.shop-price.uk-label{font-weight: bold;background:#fff}
.shop-price{font-weight:bold;color:#68C07B}

.shop-card-title{font-size:19px}

.shop-steps {
    background-color: #ecf2f6;
    border: .0625rem solid #c7bdb9;
    border-radius: .1875rem;
    color: #212529;
    height: 100%;
    margin: .125rem;
    padding: .5rem;
}
.shop-steps.active {
    background-color: #007bff;
    color: #fff;
}
.shop-indicator {
    border: .0625rem solid #fff;
    display: inline-block;
    height: 1rem;
    vertical-align: text-top;
    width: 1rem;
}
.shop-basket-count {
    background-color: #dc3545;
    border-radius: 100%;
    color: #fff;
    font-size: .6875rem;
    height: 1.125rem;
    line-height: 1rem;
    position: absolute;
    right: -.125rem;
    text-align: center;
    top: -.125rem;
    width: 1.125rem;
}
.shop-sticker {
    background-color: #dc3545;
    border-radius: .1875rem;
    color: #fff;
    font-weight: bold;
    margin: .25rem 0;
    padding: .25rem .5rem;
}

.shop-avail-cont {
    display: block;
    position: relative;
}
.shop-avail-cont img {
    background: #fff;
    border: .0625rem solid #c7bdb9;
    border-radius: .3125rem;
    cursor: pointer;
    padding: .0625rem;
}
.shop-avail-popup a {
    display: block;
    padding: 0.1875rem .3125rem;
}
.shop-avail-popup {
    display: none;
    left: -.5rem;
    padding: .25rem;
    position: absolute;
    top: 1.375rem;
}

