@charset "UTF-8";

/* переменные */
:root {
    --blue: #2a5885;
    --blue-light:#d8e9f2;
    --blue-vk:#2a5885;
    --blue-vk-button:#5181b8;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffd086;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-vk:#edeef0;
    --gray-dark: #343a40;
    --gray-light:#bebebe;

    --primary: #007bff;
    --secondary: #6c757d;
    --success: var(--green);
    --info: #17a2b8;
    --warning: #ffc107;
    --danger:var(--red);

    --link:var(--blue-vk);

    --breakpoint-s: 576px;
    --breakpoint-m: 768px;
    --breakpoint-l: 992px;

    --font-family-main: -apple-system, BlinkMacSystemFont, "Ubuntu", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Ubuntu mono", "Liberation Mono", "Courier New", monospace;
    --font-size: 1rem;
  }

/* переменные адаптивности*/
media all and (max-width: 600px) {
    :root {
      --font-size: 12px;
    }
  }

.uk-link, a{color:var(--link)}
hr{border-top-color:var(--gray)}

body{font-size:var(--font-size)}

.bg-white{background:var(--white)}
.c-success{color:var(--success)}
.c-danger{color:var(--danger)}

.uk-logo h6{letter-spacing: 1px}

/*FOOTER*/
footer{background:var(--bg-footer)}

.zindex-1{z-index:1}.zindex-2{z-index:2}.zindex-3{z-index:3}.zindex-4{z-index:4}

/* Оформление кнопки наверх */
.in_top { position: fixed; left: 0; top: 0; width: 1rem; height: 100vh; opacity: 0.5; filter: alpha(opacity=50); cursor: pointer; display: none;z-index:3}
.in_top:hover { background-color:var(--yellow); opacity: 1; filter: alpha(opacity=100); }
.in_top span {bottom:1rem;display: block; width: 1rem; text-align: center; color: rgba(0, 0, 0, .5); font-weight: bold; font-size: 1rem;position:absolute;}

.main {flex: 1}
.message {
    background-color: rgba(206, 212, 218, .7);
    border: .3125rem solid #ced4da;
    margin: 10rem auto;
    padding: 2.5rem;
    text-align: center;
    width: 40rem;
}
@media (max-width: 42rem) {
    .message {
        margin: 1rem auto;
        max-width: 100%;
    }
}
.wrapper {margin-bottom: 1rem}
.spacer {
    margin-bottom: .5rem;
    margin-top: .5rem;
}
.d-none{display:none}
.pointer {cursor: pointer}
.size-lg {font-size: 1.125rem}
.size-xl {font-size: 1.5rem}
.height-4 {
    height: 4rem;
}
.height-5 {
    height: 5rem;
}
.height-6 {
    height: 6rem;
}
.title {
    border-bottom: .0625rem solid #ced4da;
    margin: .5rem 0;
}

.round {
    border-radius: .1875rem;
    overflow: hidden;
}
.box-content {
    background-color: #fff;
    border-radius: .1875rem;
    margin: .5rem 0 1rem 0;
    padding: 1rem;
}
.box-popup {
    background-color: #ecf2f6;
    box-sizing: border-box;
    flex: 1;
    padding: 1rem;
}
.box-block {
    background-color: #fff;
    border: .0625rem solid #ced4da;
    border-radius: .1875rem;
    padding: .5rem;
}
.box-error {
    background: #fff;
    border: .0625rem solid #dc3545;
    border-radius: .1875rem;
    color: #dc3545;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
    padding: 1rem;
}
.border-error {
    border: .125rem solid #dc3545;
}
.row-header {
    background-color: #c9e7fa;
    font-weight: 600;
    margin: 0;
    padding: .5rem;
}
.row-primary {
    background-color: #e0f1fc;
    margin: 0;
    padding: .5rem;
}
.row-secondary {
    background-color: #f2f9fd;
    margin: 0;
    padding: .5rem;
}
.error {color: #dc3545}
label.error {
    bottom: -1.7rem;
    font-size: 90%;
    position: absolute;
}
.required::after {
    color: #dc3545;
    content: '*';
    padding-left: .25rem;
}
.highlight {
    color: #dc3545;
    font-weight: bold;
    text-transform: uppercase;
}
.form-control.error {
    border: .0625rem solid #dc3545;
}
.square-icon {
    background: #fff;
    border: .0625rem solid #ced4da;
    border-radius: .125rem;
    color: #313439;
    cursor: pointer;
    margin: .125rem 0;
}
.img-left {
    float: left;
    margin: .5rem 1rem .5rem 0;
}
.img-right {
    float: right;
    margin: .5rem 0 .5rem 1rem;
}
.flex-line {
    align-items: center;
    display: flex;
}
.listing-head {
    border-bottom: .0625rem solid #ced4da;
    margin-bottom: .25rem;
    padding-bottom: .25rem;
}
.listing-foot {
    border-top: .0625rem solid #ced4da;
    margin-top: .5rem;
    padding-top: .5rem;
}
.listing-img-right {
    float: right;
    height: 5rem;
    margin: .25rem 0 .25rem .5rem;
}
.listing-img-left {
    float: left;
    height: 5rem;
    margin: .25rem .5rem .25rem 0;
}

/* Оформление автокомплита поиска */
.ac_results {
    background: #eee;
    display: none;
    list-style: none;
    margin: 0;
    position: absolute;
    max-height: 80vh;
    overflow: auto;
    padding: 0;
    width: 100%;
    left: 0;
    z-index: 9999;
    top: 120px!important;
}
.ac_results li {
    padding: .5rem;
}
.ac_over {
    background: #beb;
    cursor: pointer;
}
.ac_match {
    color: #dc3545;
    text-decoration: underline;
}

/*.status {
    background: #fff;
    border: .0625rem solid #007bff;
    border-radius: .1875rem;
    padding: .1875rem;
    position: absolute;
    z-index: 1000;
}*/

/* Оформление рейтинга */
.rating-star {
    display: flex;
}
.rating-star i {
    color: #ffcb00;
    cursor: pointer;
    font-size: 1.5rem;
}
@media (max-width: 768px) {
    .rating-star i {
        font-size: 1rem;
    }
}

/*Гостевая книга, отзывы*/
#guestbook{background:#ecf2f6}



/* Прочее */
.modcode {
    background: #fff;
    border: .0625rem solid #dc3545;
    margin: 0 .5rem .5rem .5rem;
    padding: .6rem;
}
.mod_header {
    background: #dc3545;
    color: #fff;
    margin: .5rem .5rem 0 .5rem;
    padding: .25rem 1rem;
}
.spoiler {
    overflow: auto;
    width: auto;
}
.spoilertext {
    display: none;
}
.spoilerheader {
    background-color: #c9e7fa;
    cursor: pointer;
    display: block;
    margin: .5rem .5rem 0 .5rem;
    padding: .25rem .5rem;
}
.divcode_header {
    background: #c9e7fa;
    margin: .5rem .5rem 0 .5rem;
    padding: .25rem 1rem;
}
.divcode {
    background: #fff;
    border: .0625rem solid #c9e7fa;
    margin: 0 .5rem .5rem .5rem;
    padding: .6rem;
}

/* Не обработанное - на удаление */
.infobox {
    background: #ecf2f6;
    border-radius: .1875rem;
    clear: both;
    margin: .5rem 0;
    padding: 1rem;
}
.popup_header {
    background: #007bff;
    border-radius: .1875rem;
    color: #fff;
    padding: .3125rem;
}
.popup_content {
    background-color: #fff;
    padding: .5rem;
}
.popup_box {
    background-color: #fff;
    border: .0625rem outset #807872;
    border-radius: .3125rem;
    padding: .5rem;
}
.row_first, .row_left {
    padding: .1875rem;
}
.row_second, .row_right {
    padding: .1875rem;
}
.data_first {
    background-color: #ecf2f6;
    color: #666;
    padding: .1875rem;
}
.data_second {
    background-color: #fff;
    padding: .1875rem;
}
.box_data {
    background: #fff;
    border: .0625rem solid #ccbdb7;
    border-radius: .1875rem;
    margin: 0 .5rem .5rem 0;
    padding: .5rem;
}
.box_innerhead {
    border-bottom: .0625rem solid #ced4da;
    margin: 1rem 0;
    padding: .3125rem 0;
}
.box_innerhead a:hover {
    color: #000;
}