@charset "UTF-8";

/* Оформление верхнего меню */
.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{min-height: 55px}
.uk-navbar-toggle{color:#555}
.overlay-callback .uk-navbar-toggle{height:40px}
.uk-navbar-container{transition:background-color .2s ease}
.uk-offcanvas-bar,
.uk-navbar-nav > li > a{color:#777}
.uk-box-shadow-large{box-shadow:0 5px 1px rgba(0,0,0,.16)}
.uk-nav-primary > li > a {font-size:.9rem;line-height:1.3;}
.uk-navbar-transparent .uk-navbar-nav a:hover{background-color:rgba(240, 240, 240, 0.2);border-radius:.5em;}
.uk-navbar-primary .uk-navbar-nav a:hover {background-color: rgba(200, 200, 200, 0.35)}
.uk-navbar-container:not(.uk-navbar-transparent){background:#7b7b7b}

.uk-overlay-primary{background-color:rgba(53, 55, 92, .7)}

.uk-navbar-dropdown-nav > li > a:focus,
.uk-navbar-dropdown-nav > li > a:hover{color:#555;background:#f0f2f5}
.uk-nav > li > a {padding:.5rem 1rem}

.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a:hover,
.uk-offcanvas-bar .uk-nav-primary > li > a:hover{background:#2A2A2E}
.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a{padding-left:.5rem}
.uk-offcanvas-close{top:0;right:0;padding:.5rem;position:relative}

.uk-card-body{padding: 15px 15px}
.uk-card-default{background:#fff;box-shadow:0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8}
h6.uk-card-title{font-size:12.5px}
.uk-h1,h1{font-size:1.6rem}
* + .uk-h1, * + .uk-h2, * + .uk-h3, * + .uk-h4, * + .uk-h5, * + .uk-h6, * + h1, * + h2, * + h3, * + h4, * + h5, * + h6{margin-top:10px}
small{font-size:50%}

.uk-lightbox-iframe {width:100%;height:100%}
.uk-margin-small-left {margin-left:var(--margin-small)!important}
.uk-lightbox,
.uk-offcanvas-overlay::before
{background: url(../../images/page/layer_bg_black.png);filter:none}

.uk-padding-small-left{padding:10px}
.uk-top-small{top:66px;padding-bottom:66px}

.uk-inline-clip .uk-overlay-primary {color:#fff;background: url(../../images/page/album_top_shadow.png);font-size:14px}
.uk-transition-fade, [class*="uk-transition-scale"], [class*="uk-transition-slide"]{transition: 360ms ease;opacity:1}

.uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before{margin:0 10px}

.uk-button-small{text-transform:none;line-height:2rem}
.uk-button-primary{background:var(--blue-vk-button)}
.uk-input, .uk-select, .uk-textarea{border-style:dashed}

.uk-tab > .uk-active > a{border-bottom:2px solid #5181b8}
.uk-tab > * > a{border-width:2px;font-weight:bold;font-size:.7rem}

.uk-modal-close-full{background:transparent;right:.8vw}