<div class="content">
  <div class="headers">Установка успешно завершена!</div>
  <div class="box"> <strong><font color="#FF0000">Для обеспечения безопасности системы необходимо удалить из корневой директории папку setup!</font></strong><br />
    <br />
    <a href="{$homedir}/index.php">Ссылка на главную страницу сайта</a><br />
    <br />
    <a href="{$homedir}/admin/index.php">Ссылка на панель управления системой</a><br />
    <br />
    Прежде чем Вы начнете работать с системой, Вы должны <strong>обязательно</strong> проверить все настройки системы и при необходимости их изменить.<br />
    <br />
  </div>
</div>
<img style="width:1px;height:1px" src="http://www.status-x.ru/supports/notify/" alt="" />
