{if !$shop_search_small_categs}
  <div uk-alert class="uk-alert-danger"> {#ShopNoCateg#} </div>
{else}
  <script src="{$jspath}/jupload.js"></script>
  <script>
  <!-- //
  {include file="$incpath/other/jsvalidate.tpl"}
  $.validator.setDefaults({
      submitHandler: function() {
          document.forms['newform'].submit();
      }
  });
  $(function() {
      $('#new').validate({
          ignore: '#ops',
          rules: {
              Titel: { required: true, minlength: 1 },
              Artikelnummer: { required: false, minlength: 1 },
              Preis_Liste: { required: false, number: true },
              Gewicht: { required: false, number: true, min: 0 },
              Lagerbestand: { required: false, number: true },
              MinBestellung: { required: false, number: true, min: 0 },
              MaxBestellung: { required: false, number: true, min: 0 }
          },
          messages: {
              Preis_Liste: { required: '{#Shop_articles_edit_jsnoprice#}' }
          },
          success: function(label) {
              label.html("&nbsp;").addClass("checked");
          }
      });

      $('#ops').tabs({
          selected: {$smarty.post.current_tabs|default:0},
    select: function(event, ui) {
        $('#current_tabs').val(ui.index);
    }
      });

      $('#dateinput').datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: 'dd.mm.yy',
          dayNamesMin: [{#Calendar_daysmin#}],
          monthNamesShort: [{#Calendar_monthNamesShort#}],
          firstDay: 1
      });
  });
  function selectBestellt(id) {
      if(id.options[id.selectedIndex].value == 2) {
          document.getElementById('ls').value = '0';
          document.getElementById('Bestellt').checked = true;
          document.getElementById('Bestellt').disabled = false;
      } else {
          document.getElementById('Bestellt').checked = false;
          document.getElementById('Bestellt').disabled = true;
      }
  }
  function checkBestellt() {
      if(document.getElementById('Bestellt').checked == true) {
          document.getElementById('s_2').selected = true;
          document.getElementById('ls').value = '0';
      }
  }
  function getValue(id) {
      {foreach from=$units item=u}
      var unit_{$u.Id} = '{$u.Name|sanitize}';
      {/foreach}

      if(id) {
          var out = eval('unit_'+id);
    document.getElementById('bezugelem').innerHTML=out;
      }
  }
  function fileUpload(sub, divid) {
      $(document).ajaxStart(function() {
          $('#loading_' + divid).show();
          $('#buttonUpload_' + divid).val('{#Global_Wait#}').prop('disabled', true);
      }).ajaxComplete(function() {
          $('#loading_' + divid).hide();
          $('#buttonUpload_' + divid).val('{#UploadButton#}').prop('disabled', false);
      });
      if(divid == 1) {
          var resize = document.getElementById('resizeUpload_' + divid).value;
          var up = 'index.php?do=shop&sub=' + sub + '&divid=' + divid + '&resize=' + resize;
      } else {
          var up = 'index.php?do=shop&sub=' + sub + '&divid=' + divid;
      }
      $.ajaxFileUpload({
          url: up,
          secureuri: false,
          fileElementId: 'fileToUpload_' + divid,
          dataType: 'json',
          success: function(data) {
        if(typeof(data.result) !== 'undefined') {
                  document.getElementById('UpInf_' + divid).innerHTML = data.result;
                  if(data.filename !== '') {
                      document.getElementById('newFile_' + divid).value = data.filename;
                  }
        }
          },
          error: function(data, status, e) {
              document.getElementById('UpInf_' + divid).innerHTML = e;
          }
      });
      return false;
  }
  //-->
  </script>


  <div id="ops">

    <form name="newform" id="new" action="" method="post" enctype="multipart/form-data">

    {*табы меню*}
    <ul uk-sticky class="uk-margin-remove uk-child-width-expand bg-white" uk-tab="connect: #addtabs_shop_product; animation: uk-animation-slide-left-small, uk-animation-slide-right-small">
      <li class="uk-active"><a>
        <i uk-icon="fa-address-book-o"></i>
        <h6 class="uk-visible@s uk-margin-small">{#Shop_articles_edit_all#}</h6></a>
      </li>
      <li>
        <a><i uk-icon="fa-address-book-o"></i>
        <h6 class="uk-visible@s uk-margin-small">{#Global_descr#}</h6></a>
      </li>
      <li>
        <a><i uk-icon="fa-address-book-o"></i>
        <h6 class="uk-visible@s uk-margin-small">{#Shop_articles_edit_pricing#}</h6></a>
      </li>
      <li>
        <a><i uk-icon="fa-address-book-o"></i>
        <h6 class="uk-visible@s uk-margin-small">{#Shop_articles_edit_images#}</h6></a>
      </li>
      <li>
        <a><i uk-icon="fa-address-book-o"></i>
        <h6 class="uk-visible@s uk-margin-small">{#Shop_freeFields#}</h6></a>
      </li>
      <li>
        <a><i uk-icon="fa-address-book-o"></i>
        <h6 class="uk-visible@s uk-margin-small">{#Shop_pdls#}</h6></a>
      </li>
    </ul>

 <button id="ukclose" class="uk-modal-close" type="button" uk-close onclick="parent.closeIFrame();"></button>

    {*табы контент*}
    <ul id="addtabs_shop_product" class="uk-switcher">
      <li id="main">
        <div class="uk-grid-small uk-grid-divider" uk-grid>
            <div class="uk-width-expand@s">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
          <tr>
            <td width="250" class="row_left"><img class="stip" title="{$lang.Shop_articles_artInf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Global_name#}</td>
            <td class="row_right"><input type="text" class="input" name="Titel" style="width: 350px" value="{$row.Titel|sanitize}" /></td>
          </tr>
          <tr>
            <td width="250" class="row_left"><img class="stip" title="{$lang.Shop_articles_artnrInf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_artnr#}</td>
            <td class="row_right"><input autocomplete="off" type="text" class="input" name="Artikelnummer" style="width: 350px" value="" /></td>
          </tr>
          <tr>
            <td width="250" class="row_left"><img class="stip" title="{$lang.Shop_articles_art_matchwordsinf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_art_matchwords#}</td>
            <td class="row_right"><input type="text" class="input" name="Schlagwoerter" style="width: 350px" value="{$row.Schlagwoerter}" /></td>
          </tr>
          <tr>
            <td width="250" class="row_left"><img class="stip" title="{$lang.ShopAltTitleI|sanitize}" src="{$imgpath}/help.png" alt="" /> {#ShopAltTitle#}</td>
            <td class="row_right"><input type="text" class="input" name="SeitenTitel" style="width: 350px" value="{$row.SeitenTitel|sanitize}" /></td>
          </tr>
          <tr>
            <td width="250" class="row_left"><img class="stip" title="{$lang.MetaTagsInf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#MetaTags#}</td>
            <td class="row_right"><input type="text" class="input" name="MetaTags" style="width: 350px" value="{$row.MetaTags|sanitize}" /></td>
          </tr>
          <tr>
            <td width="250" class="row_left"><img class="stip" title="{$lang.MetagDescInf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#MetagDesc#}</td>
            <td class="row_right"><input type="text" class="input" name="MetaDescription" style="width: 350px" value="{$row.MetaDescription|sanitize}" /></td>
          </tr>
          </table>
            </div>

            <div class="uk-width-1-3@s">
            <table>
                <tr>
                <td width="250" class="row_left"><img class="stip" title="{$lang.ShopAltTplDefI|sanitize}" src="{$imgpath}/help.png" alt="" /> {#ShopAltTpl#}</td>
                <td class="row_right">
                  <select name="Template">
                    <option value="">{#ShopAltTplDef#}</option>
                    {foreach from=$alternativeTpl item=at}
                      <option value="{$at->Name}" {if isset($row.Template) && $at->Name == $row.Template}selected="selected"{/if}>{$at->Name}</option>
                    {/foreach}
                  </select>
                </td>
              </tr>
              <tr>
                <td width="250" class="row_left"><img class="stip" title="{$lang.FSK18_ShopProductinf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#FSK18_ShopProduct#}</td>
                <td class="row_right">
                  <label><input type="radio" name="Fsk18" value="1" {if isset($row.Fsk18) && $row.Fsk18 == 1}checked="checked"{/if} />{#Yes#}</label>
                  <label><input type="radio" name="Fsk18" value="0" {if isset($row.Fsk18) && $row.Fsk18 == 0}checked="checked"{/if} />{#No#}</label>
                </td>
              </tr>
              <tr>
                <td width="250" valign="top" class="row_left">
                  {#Shop_allowed_who#}
                  <br />
                  <br />
                  <small> {#Shop_allowed_whoInf#} </small>
                </td>
                <td class="row_right">
                  <label><input type="checkbox" name="AlleGruppen" value="1" {if $groupsempty == 1}checked="checked"{/if} /><strong>{#All_Grupp#}</strong></label>
                  <br />
                  <br />
                  {#Shop_allowed_select#}
                  <br />
                  <br />
                  <select name="Gruppen[]" size="8" multiple="multiple" class="input" style="width: 350px">
                    {foreach from=$UserGroups item=group}
                      <option value="{$group->Id}" {if in_array($group->Id, $groups)}selected="selected" {/if}>{$group->Name_Intern}</option>
                    {/foreach}
                  </select>
                </td>
              </tr>
              <tr>
                <td width="250" class="row_left">{#Sys_on#}</td>
                <td class="row_right">
                  <label><input type="radio" name="Aktiv" value="1" checked="checked" />{#Yes#}</label>
                  <label><input type="radio" name="Aktiv" value="0" />{#No#}</label>
                </td>
              </tr>
              <tr>
                <td width="250" class="row_left">{#Shop_articles_startpage#}</td>
                <td class="row_right">
                  <label><input type="radio" name="Startseite" value="1" checked="checked" />{#Yes#}</label>
                  <label><input type="radio" name="Startseite" value="0" />{#No#}</label>
                </td>
              </tr>
            </table>
            </div>
        </div>
      </li>

      <li id="artd">
        <table width="100%" border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td>
              <h4>{#Shop_articles_descr#}</h4>
              {$text}
            </td>
          </tr>
          <tr>
            <td>
              <h4>{#Shop_articles_descr2#}</h4>
              {$text2}
              <div style="padding: 4px">
                {include file="$incpath/other/fckinserts.tpl"}
                <img class="stip" title="{$lang.Global_newInf|sanitize}" src="{$imgpath}/help.png" alt="" />
                <a href="javascript: void(0);" onclick="insertEditor('Beschreibung2','[--NEU--]');">{#Global_newPage#}</a>
              </div>
            </td>
          </tr>
        </table>
      </li>

      <li id="pricing_details">
        <table width="100%" border="0" cellspacing="0" cellpadding="1">
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_PriceEkLInf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_PriceEkL#}</td>
            <td class="row_right"><input class="input" name="Preis_EK" type="text" value="{$row.Preis_EK}" />{#Option#} </td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_priceinf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Products_price#}</td>
            <td class="row_right">
              <input class="input" name="Preis_Liste" type="text" id="Preis_Liste" value="{$number}" /></td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_price_offerinf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_price_offer#}</td>
            <td class="row_right"><input class="input" name="Preis" type="text" id="Preis" value="" /></td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_price_offerinf2|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_price_offertill#}</td>
            <td class="row_right"><input class="input" id="dateinput" name="Preis_Liste_Gueltig" type="text" maxlength="10" value="" readonly="readonly" /></td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_categInf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Global_Categ#}</td>
            <td class="row_right">
              <select class="input" style="width: 100%" name="Kategorie">
                {foreach from=$shop_search_small_categs item=scs}
                  <option {if $scs->bold == 1}class="shop_selector_back"{else}class="shop_selector_subs"{/if} value="{$scs->catid}" {if isset($row.Kategorie) && $row.Kategorie == $scs->catid}selected="selected" {/if}>{$scs->visible_title|specialchars}</option>
                {/foreach}
              </select>
            </td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_categsInf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_categs#}</td>
            <td class="row_right">
              <select name="Kategorie_Multi[]" size="8" multiple="multiple" class="input" style="width: 100%">
                {foreach from=$shop_search_small_categs item=scs}
                  <option {if $scs->bold == 1}class="shop_selector_back"{else}class="shop_selector_subs"{/if} value="{$scs->catid}">{$scs->visible_title|specialchars}</option>
                {/foreach}
              </select>
            </td>
          </tr>
          <tr>
            <td width="270" class="row_left">{#EAN_Code#}</td>
            <td class="row_right"><input class="input" name="EAN_Nr" type="text" maxlength="50" value="{$row.EAN_Nr}" /></td>
          </tr>
          <tr>
            <td width="270" class="row_left">{#ISBN_Code#}</td>
            <td class="row_right"><input class="input" name="ISBN_Nr" type="text" maxlength="50" value="{$row.ISBN_Nr}" /></td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_art_weightInf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_art_weight#}</td>
            <td class="row_right"><input class="input" name="Gewicht" type="text" value="100" />&nbsp;{#Shop_articles_art_wunit#}</td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_art_weightRawInf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_art_weightRaw#}</td>
            <td class="row_right"><input class="input" name="Gewicht_Ohne" type="text" value="0" />&nbsp;{#Shop_articles_art_wunit#}</td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_artHBLCInf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_art_HBL#}</td>
            <td class="row_right"><input class="input" name="Abmessungen" type="text" value="" />&nbsp;{#Shop_articles_artHBLC#}</td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_art_manufacturerInf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Manufacturer#}</td>
            <td class="row_right">
              <select class="input" style="width: 100%" name="Hersteller" id="Hersteller">
                <option value="0"></option>
                {foreach from=$manufaturer item=m}
                  <option value="{$m->Id}" {if isset($row.Hersteller) && $m->Id == $row.Hersteller}selected="selected"{/if} >{$m->Name}</option>
                {/foreach}
              </select>
            </td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.PrCountryInf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#PrCountry#}</td>
            <td class="row_right"><input class="input" name="PrCountry" type="text" value="{$row.PrCountry}" /></td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_art_counts_unitinf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_art_counts_unit#}</td>
            <td class="row_right">
              <input class="input" style="width: 100%" name="EinheitCount" type="text" value="{$row.EinheitCount|replace: '.': ','}" />
              <select id="gva" onchange="getValue(this.value);" name="EinheitId" class="input" style="width: 100%">
                <option value=""></option>
                {foreach from=$units item=u}
                  <option value="{$u.Id}" {if isset($row.EinheitId) && $u.Id == $row.EinheitId}selected="selected" {/if}>{$u.Name} ({$u.Mz})</option>
                {/foreach}
              </select>
              {#Shop_counts_unit_inc#}
              <input class="input" style="width: 100%" name="EinheitBezug" type="text" value="{$row.EinheitBezug|replace: '.': ','}" />
              <span id="bezugelem" style="font-weight: bold"></span>
            </td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_art_onstoreinf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_art_onstore#}</td>
            <td class="row_right"><input class="input" name="Lagerbestand" id="ls" type="text" value="1000" /></td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_edit_readyforshippinginf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_edit_readyforshipping#}</td>
            <td class="row_right">
              <select class="input" style="width: 100%" name="Lieferzeit">
                {foreach from=$shipping_time item=st}
                  <option value="{$st->Id}" {if isset($row.Lieferzeit) && $st->Id == $row.Lieferzeit}selected="selected"{/if} >{$st->Name}</option>
                {/foreach}
              </select>
            </td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_art_availabilityinf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_art_availability#}</td>
            <td class="row_right">
              <select class="input" style="width: 100%" onchange="selectBestellt(this);" name="Verfuegbar">
                {foreach from=$available item=av}
                  <option id="s_{$av.Id}" value="{$av.Id}" {if $av.Id == 1}selected="selected"{/if} >{$av.Name}</option>
                {/foreach}
              </select>
              <label><input name="Bestellt" type="checkbox" id="Bestellt" value="1" onclick="checkBestellt();" {if isset($row.Bestellt) && $row.Bestellt == 1}checked="checked"{/if} />{#Shop_articles_edit_isordered#}</label>
              <img class="stip" title="{$lang.Shop_articles_edit_isorderedinf|sanitize}" src="{$imgpath}/help.png" alt="" />
            </td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_art_ordermininf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_art_ordermin#}</td>
            <td class="row_right"><input class="input" name="MinBestellung" type="text" value="0" /></td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_art_ordermaxinf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_art_ordermax#}</td>
            <td class="row_right"><input class="input" name="MaxBestellung" type="text" value="0" /></td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.Shop_articles_art_onceorderinf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Shop_articles_art_onceorder#}</td>
            <td class="row_right">
              <label><input type="radio" name="EinzelBestellung" value="1" />{#Yes#}</label>
              <label><input type="radio" name="EinzelBestellung" value="0" checked="checked" />{#No#}</label>
            </td>
          </tr>
          <tr>
            <td width="270" class="row_left"><img class="stip" title="{$lang.YmlInf|sanitize}" src="{$imgpath}/help.png" alt="" /> {#Yml#}</td>
            <td class="row_right">
              <label><input type="radio" name="Yml" value="1" {if isset($row.Yml) && $row.Yml == 1}checked="checked"{/if} />{#Yes#}</label>
              <label><input type="radio" name="Yml" value="0" {if isset($row.Yml) && $row.Yml == 0}checked="checked"{/if} />{#No#}</label>
            </td>
          </tr>
        </table>
      </li>

      <li id="images">
        <table width="100%" border="0" cellspacing="0" cellpadding="1">
          <tr>
            <td width="180" class="row_left">{#Image#}</td>
            <td class="row_right">
              <div id="UpInf_1"></div>
              <div id="loading_1" style="display: none;"><img src="{$imgpath}/ajaxbar.gif" alt="" /></div>
              <input id="resizeUpload_1" type="text" size="3" name="resizeUpload_1" class="input" value="500" /> px. &nbsp;&nbsp;&nbsp;
              <input id="fileToUpload_1" type="file" size="45" name="fileToUpload_1" class="input" />
              <input type="button" class="button" id="buttonUpload_1" onclick="fileUpload('categ_icon', 1);" value="{#UploadButton#}" />
              {if perm('mediapool')}
                <input type="button" class="button" onclick="uploadBrowser('image', 'shop/icons', 1);" value="{#Global_ImgSel#}" />
              {/if}
              <input type="hidden" name="newImg_1" id="newFile_1" />
            </td>
          </tr>
          <tr>
            <td width="180" class="row_left">{#Shop_articles_edit_moreimages_upload#}</td>
            <td class="row_right">
              {section name=loooo loop=5}
                <input style="margin-bottom: 1px" type="file" name="files[]" />
                <br />
              {/section}
            </td>
          </tr>
        </table>
      </li>

      <li id="freefields">
        <table width="100%" border="0" cellspacing="0" cellpadding="1">
          <tr>
            <td width="180" class="row_left">&nbsp;</td>
            <td class="row_right"><strong>{#Global_Name#}</strong></td>
            <td class="row_right"><strong>{#Shop_freeFields_Must#}</strong></td>
          </tr>
          <tr>
            <td width="180" class="row_left">{#Shop_freeFields_Nr#} #1</td>
            <td width="100" class="row_right"><input class="input" style="width: 100%" name="Frei_1" type="text" value="{$row.Frei_1}" /></td>
            <td class="row_right">
              <label><input type="radio" name="Frei_1_Pflicht" value="1" {if isset($row.Frei_1_Pflicht) && $row.Frei_1_Pflicht == 1}checked="checked"{/if} />{#Yes#}</label>
              <label><input type="radio" name="Frei_1_Pflicht" value="0" {if isset($row.Frei_1_Pflicht) && $row.Frei_1_Pflicht == 0}checked="checked"{/if} />{#No#}</label>
            </td>
          </tr>
          <tr>
            <td width="180" class="row_left">{#Shop_freeFields_Nr#} #2</td>
            <td class="row_right"><input class="input" style="width: 100%" name="Frei_2" type="text" value="{$row.Frei_2}" /></td>
            <td class="row_right">
              <label><input type="radio" name="Frei_2_Pflicht" value="1" {if isset($row.Frei_2_Pflicht) && $row.Frei_2_Pflicht == 1}checked="checked"{/if} />{#Yes#}</label>
              <label><input type="radio" name="Frei_2_Pflicht" value="0" {if isset($row.Frei_2_Pflicht) && $row.Frei_2_Pflicht == 0}checked="checked"{/if} />{#No#}</label></td>
          </tr>
          <tr>
            <td width="180" class="row_left">{#Shop_freeFields_Nr#} #3</td>
            <td class="row_right"><input class="input" style="width: 100%" name="Frei_3" type="text" value="{$row.Frei_3}" /></td>
            <td class="row_right">
              <label><input type="radio" name="Frei_3_Pflicht" value="1" {if isset($row.Frei_3_Pflicht) && $row.Frei_3_Pflicht == 1}checked="checked"{/if} />{#Yes#}</label>
              <label><input type="radio" name="Frei_3_Pflicht" value="0" {if isset($row.Frei_3_Pflicht) && $row.Frei_3_Pflicht == 0}checked="checked"{/if} />{#No#}</label>
            </td>
          </tr>
        </table>
      </li>

      <li id="pdls">
        <div class="subheaders" style="font-weight: normal">{#Shop_files_newinf#}</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="1">
          <tr>
            <td width="210" class="row_left">{#select_file#} </td>
            <td class="row_right">
              <select name="DateiDlNeu" style="width: 200px">
                <option value=""></option>
                {foreach from=$prodDlsAll item=pda}
                  <option value="{$pda}">{$pda}</option>
                {/foreach}
              </select>
            </td>
          </tr>
          <tr>
            <td class="row_left">{#UploadNew#}</td>
            <td class="row_right">
              {if $can_upload == 1}
                <div id="UpInf_2"></div>
                <div id="loading_2" style="display: none;"><img src="{$imgpath}/ajaxbar.gif" alt="" /></div>
                <input id="fileToUpload_2" type="file" size="45" name="fileToUpload_2" class="input" />
                <input type="button" class="button" id="buttonUpload_2" onclick="fileUpload('shopfile_upload', 2);" value="{#UploadButton#}" />
                {if perm('mediapool')}
                  <input type="button" class="button" onclick="uploadBrowser('file', 'shop/product_downloads', 2);" value="{#Global_ImgSel#}" />
                {/if}
                <input type="hidden" name="newFile_2" id="newFile_2" />
              {else}
                <strong style="color: red">{#Shop_files_NotWritable#}</strong>
              {/if}
            </td>
          </tr>
          <tr>
            <td class="row_left">{#Shop_downloads_hdln#}</td>
            <td class="row_right"><input style="width: 100%" type="text" name="DateiName" /></td>
          </tr>
          <tr>
            <td class="row_left">{#Global_descr#}</td>
            <td class="row_right"><input style="width: 100%" type="text" name="Dateibeschreibung" /></td>
          </tr>
        </table>
        <input type="hidden" name="pdls_update" value="1" />
      </li>
    </ul>

      <input type="hidden" id="current_tabs" name="current_tabs" value="{$smarty.post.current_tabs|default:0}" />
      <input class="button" type="submit" value="{#Save#}" />
      <input type="button" class="button" value="{#Close#}" onclick="parent.window.location.reload(false);" />
      <input type="hidden" name="new" value="1" />
      <input type="hidden" name="closeafter" value="{$smarty.request.closeafter}" />
    </form>
  </div>
{/if}
