<html>
  <body style="font-family: arial,verdana;font-size: 12px">
    <input type="button" value="{#Print#}" onclick="window.print();" />
    <hr noshade="noshade" size="1" />
    {$orderprint}
  </body>
</html>
