<div class="wrapper panel">
  <div class="panel-head">{#Legende#}</div>
  <div class="panel-main text-center">
    <div data-toggle="tooltip" title="{$available_array.0->Name}"><img src="{$imgpath}/shop/avail-1.png" alt="" /></div>
    <div data-toggle="tooltip" title="{$available_array.4->Name}"><img src="{$imgpath}/shop/avail-5.png" alt="" /></div>
    <div data-toggle="tooltip" title="{$available_array.1->Name}"><img src="{$imgpath}/shop/avail-2.png" alt="" /></div>
    <div data-toggle="tooltip" title="{$available_array.2->Name}"><img src="{$imgpath}/shop/avail-3.png" alt="" /></div>
    <div data-toggle="tooltip" title="{$available_array.3->Name}"><img src="{$imgpath}/shop/avail-4.png" alt="" /></div>
    <div data-toggle="tooltip" title="{#ShopAllProducts#}"><img src="{$imgpath}/shop/avail-0.png" alt="" /></div>
  </div>
</div>
