<!--shop/tax_inf_small.tpl-->
{if $shopsettings->NettoKlein == 1}
    {include file="$incpath/shop/vat_info_small.tpl"}
{/if}
{if $shopsettings->shipping_info == 1}
    <div uk-lightbox>
      {if (isset($shipping_free) && $shipping_free == 1) || $p.shipping_free == 1}
          {#Shop_freeshipping#}
      {else}
          {#Shop_shipping_extra#}
          <a data-type="iframe" href="index.php?p=misc&amp;do=shippingcost"> сопровождение сделки</a>
      {/if}
    </div>
{/if}
<!--end shop/tax_inf_small.tpl-->