{if $toparticleitems}

<section id="vk-articles" class="uk-container" style="padding-bottom: 4em; padding-top: 4em">

  <h2 class="uk-text-center uk-text-muted">Новые статьи</h2>

  <div class="uk-child-width-1-3@s uk-grid-small" uk-grid>

    {foreach from=$toparticleitems item=content}
    <div uk-lightbox>
      {if !empty($content.TopcontentBild)}
      <a href="/index.php?p=articles&amp;area={$content.Sektion}&amp;action=displayarticle&amp;id={$content.Id}&amp;name={$content.Titel|translit}" data-type="iframe">
        <figure class="uk-inline">
          <img src="uploads/articles/{$content.TopcontentBild}" alt="{$content.Titel|sanitize}">
          <div class="uk-position-cover uk-overlay-primary uk-border-rounded uk-padding-small">
            <figcaption class="uk-position-center uk-text-center">
              <h4 class="uk-text-bold">{$content.Titel|sanitize}</h4>
              {* <p>{$content.Inhalt|html_truncate:400}</p> *}
              <button class="uk-button uk-button-small uk-text-bold uk-border-rounded uk-button-secondary"><i uk-icon="icon:flash;ratio:.7"></i>
                Читать</button>
            </figcaption>
          </div>
        </figure>
      </a>

      {elseif !empty($content.Bild)}

      <a href="/index.php?p=articles&amp;area={$content.Sektion}&amp;action=displayarticle&amp;id={$content.Id}&amp;name={$content.Titel|translit}" data-type="iframe">
        <figure class="uk-inline">
          <img src="uploads/articles/{$content.Bild}" alt="{$content.Titel|sanitize}">
          <div class="uk-position-cover uk-overlay-primary uk-border-rounded uk-padding-small">
            <figcaption class="uk-position-center uk-text-center">
              <h4 class="uk-text-bold">{$content.Titel|sanitize}</h4>
              {* <p>{$content.Inhalt|html_truncate:400}</p> *}
              <button class="uk-button uk-button-small uk-text-bold uk-border-rounded uk-button-secondary"><i uk-icon="icon:flash;ratio:.7"></i>
                Читать</button>
            </figcaption>
          </div>
        </figure>
      </a>

      {/if}
    </div>
    {/foreach}

  </div>
</section>
{/if}