<br />
<div class="box_innerhead">{#Calendar_jumpdate#}</div>
<form method="post" action="index.php">
    <select name="show" class="custom-select">
    <option value="public" {if $privatePublic == 'public'}selected="selected"{/if}>{#Calendar_public#}</option>
    {if $loggedin}
      <option value="private" {if $privatePublic == 'private'}selected="selected"{/if}>{#Calendar_private#}</option>
    {/if}
  </select>
  <br><br>
  <select name="month" class="custom-select">
    {foreach from=$month name=month item=m}
      <option value="{$smarty.foreach.month.index+1}" {if $smarty.foreach.month.index+1 == $currentmonth}selected="selected"{/if}>{$m}</option>
    {/foreach}
  </select>
  <br><br>
  <div class="input-group">
    <select name="year" class="custom-select">
      {section name=year loop=$startYear+10 name=year start=$startYear}
        <option value="{$smarty.section.year.index}" {if $Year == $smarty.section.year.index}selected="selected"{/if}>{$smarty.section.year.index}</option>
      {/section}
    </select>
    <div class="input-group-append">
      <input type="hidden" name="p" value="calendar" />
      <input type="hidden" name="area" value="{$area}" />
      <input class="btn btn-primary" name="submit" type="submit" value="{#Calendar_jumpB#}" />
    </div>
  </div>
</form>
