<br />
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">{$cal_0}<br /></td>
    <td valign="top"><div align="center">{$cal_1}</div></td>
    <td valign="top"><div align="right">{$cal_2}</div></td>
  </tr>
  <tr>
    <td valign="top">{$cal_3}<br /></td>
    <td valign="top"><div align="center">{$cal_4}</div></td>
    <td valign="top"><div align="right">{$cal_5}</div></td>
  </tr>
  <tr>
    <td valign="top">{$cal_6}<br /></td>
    <td valign="top"><div align="center">{$cal_7}</div></td>
    <td valign="top"><div align="right">{$cal_8}</div></td>
  </tr>
  <tr>
    <td valign="top">{$cal_9}<br /></td>
    <td valign="top"><div align="center">{$cal_10}</div></td>
    <td valign="top"><div align="right">{$cal_11}</div></td>
  </tr>
</table>
