@charset "UTF-8";
html fieldset {
    padding: 5px;
    position: relative;
    margin-top: 1.2em;
    padding-top: 0.99em
}
html legend {
    position: absolute;
    top: -1em;
    left: 0.5em;
    margin-top: 0.2em
}
.clear {
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 1px;
    line-height: 1px
}
