@charset "UTF-8";

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle{height: 50px}
.uk-margin-medium-top{margin-top:50px}
.uk-box-shadow-large{box-shadow:0 5px 1px rgba(0,0,0,.16)}
.uk-offcanvas-bar a{color: inherit;}


/* Оформление верхнего меню */
.uk-offcanvas-bar,
.uk-navbar-nav > li > a{color:#777}

.uk-nav-primary > li > a {font-size:.9rem;line-height:1.3;}

.uk-navbar-dropdown-nav > li > a:focus,
.uk-navbar-dropdown-nav > li > a:hover{color:#555;background:#f0f2f5}
.uk-nav > li > a {padding:.5rem 1rem}

.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a:hover,
.uk-offcanvas-bar .uk-nav-primary > li > a:hover{background:#2A2A2E}
.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a{padding-left:.5rem}
.uk-offcanvas-close{top:0;right:0;padding:.5rem;position:relative}

/*.uk-offcanvas-bar{background:#fff}
.uk-offcanvas-bar a,
.uk-offcanvas-bar .uk-close,
.uk-offcanvas-bar .uk-nav-primary > li > a{color:#2a5885}

.uk-offcanvas-bar a:hover,
.uk-offcanvas-bar .uk-close:hover,
.uk-offcanvas-bar .uk-nav-primary > li > a:focus,
.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a{color:#2a5885}

.uk-offcanvas-bar .uk-nav-primary > li > a:hover,
.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a:hover,
.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a:focus,
.uk-offcanvas-bar .uk-nav-primary > li.uk-active > a{color:#b44242}

.uk-nav-primary .uk-nav-divider{border-color:#999}*/

.uk-card-default{background:#fff;box-shadow:0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8}
h6.uk-card-title{font-size:12.5px}
.uk-h1,h1{font-size:1.6rem}
* + .uk-h1, * + .uk-h2, * + .uk-h3, * + .uk-h4, * + .uk-h5, * + .uk-h6, * + h1, * + h2, * + h3, * + h4, * + h5, * + h6{margin-top:10px}
small{font-size:50%}

.uk-lightbox-iframe {width:100%;height:83%}
.uk-lightbox,
.uk-offcanvas-overlay::before
{background: url(../images/layer_bg_black.png);filter:none!important}

.uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before{margin:0 10px}