<div class="uk-container">
  {* <h1 id="eintraege" class="uk-text-center">{#Imprint#}</h1> *}
  <div class="uk-child-width-1-2@m uk-grid-collapse" uk-grid>
    <div>
      {contact id=1}
    </div>
    <div>
      {$Imprint}
    </div>
  </div>
</div>
{include file="$incpath/section/map-yandex.tpl"}