<div class="wrapper panel">
  <div class="panel-head">{#UsersNew#}</div>
  <div class="panel-main text-center">
    {foreach from=$NewUsersData item=nus}
        <div class="wrapper">
          <a class="d-block" href="{$nus->userlink}">{$nus->avatar}</a>
          <a class="d-block" href="{$nus->userlink}">{$nus->name}</a>
        </div>
    {/foreach}
  </div>
</div>
