<div class="padding5" style="height: auto;">
  {foreach from=$treeview item=leaf name=treeview}
    {if $smarty.foreach.treeview.iteration % 2 == 0 && $smarty.foreach.treeview.iteration != 0}
      {assign var=switch value=$smarty.foreach.treeview.iteration/2}
      <br />
      {section name=treespace loop=$smarty.foreach.treeview.iteration}
        {if $smarty.section.treespace.iteration == $switch}
          <img src="{$imgpath_forums}forum_vwrapper.gif" alt="" />
        {/if}
        {if $smarty.section.treespace.iteration < $switch}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {/if}
        {if ($smarty.section.treespace.iteration - $switch) == 1}
          <img src="{$imgpath_forums}forum_hwrapper.gif" alt="" />
        {/if}
      {/section}
      &nbsp;{$leaf}
    {else}
      {if $smarty.foreach.treeview.iteration != 1}
        {#PageSep#}{$leaf}
      {else}
        {$leaf}
      {/if}
    {/if}
  {/foreach}
</div>
<br />
