<div class="input-group">
  <div class="input-group-prepend">
    <label class="input-group-text" for="Global_CurrSection">{#Global_CurrSection#}</label>
  </div>
<select onchange="eval(this.options[this.selectedIndex].value);" class="custom-select" id="Global_CurrSection">
  {foreach from=$sections item=sw}
    <option value="location.href='index.php?do=login&amp;action=sectionswitch&amp;id={$sw->Id}'"{if $sw->Id == $area} selected="selected"{/if}>{$sw->Name}</option>
  {/foreach}
</select>
</div>