<div class="input-group">
  <div class="input-group-prepend">
    <label class="input-group-text" for="Sections_theme">{#Sections_theme#}:</label>
  </div>
<select onchange="eval(this.options[this.selectedIndex].value);" class="custom-select">
  {foreach from=$themes item=th}
    <option value="location.href='index.php?do=login&amp;action=themeswitch&amp;theme={$th}'"{if $th == $theme} selected="selected"{/if}>{$th}</option>
  {/foreach}
</select>
</div>